body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}
a {
  color: black;
  transition-duration: 0.4s;
}
a:hover{
  color: #0065fc;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
/* ------------------------------------------------Header----------------------------------------------- */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  width: 100%;
}
.header-logo { /* 0100*/
  display: flex;
  height: 100%;
  width: 75%;
  margin-left: 70px;
  align-items: center;
}
.header-logo img {
  height: 50px;
  width: auto;
}
nav {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  border-top: 5px solid white;
  transition-duration: 0.4s;
}
.header-nav-link-a {
  display: block;
  font-size: 18px;
  color: black;
  text-decoration: none;
  transition-duration: 0.4s;
}
.header-nav-link:hover {
  border-top: 5px solid #0065fc;
}
.header-nav-link:hover > .header-nav-link-a { /* 0200*/
  color: #0065fc;
}
/* ------------------------------Tablet + Mobile---------------------------- */
@media screen and (max-width: 992px) {
  header {
    flex-wrap: wrap;
    height: auto;
  }
  .header-logo {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    margin-left: 70px;
  }
  .header-logo img {
    height: 80px;
    width: auto;
    margin: 20px auto;
  }
  nav {
    height: 75px;
    width: 100%;
    justify-content: space-around;
  }
  .header-nav-link {
    height: 40px;
    font-size: 25px;
    width: 50%;
    text-align: center;
    border-top: 5px solid white;
    border-bottom: 5px solid #f2f2f2;
  }
  .header-nav-link-a {
    font-weight: 500;
  }
  .header-nav-link:hover {
    border-top: 5px solid white;
    border-bottom: 5px solid #0065fc;
  }
  .header-nav-link:active {
    border-bottom: 5px solid #0065fc;
    border-top: 5px solid white;
  }
  .header-nav-link:active > .header-nav-link-a {
    color: #0065fc;
  }
}

/* ------------------------------------------------Search----------------------------------------------- */

.search {
  height: 150px;
  width: auto;
  margin-left: 70px;
  line-height: 12px;
}
.search h2 {
  font-weight: 700;
}
.search p {
  font-weight: 500;
}
.search-form {
  display: flex;
  align-items: center;
  height: 80px;
}
.location-dot {
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}
.search-box input {
  height: 44px;
  width: 250px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
  border: 2px solid #f2f2f2;
  transition-duration: 0.4s;
}
.search-box input:focus {
  outline: none;
}
.search-box input:focus::placeholder { /* 0110*/
  color: transparent;
}
.search-button {
  height: 50px;
  width: 100px;
  background-color: #0065fc;
  color: white;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid #0065fc;
  font-size: 18px;
  font-weight: 600;
}
.search-button-mobile {
  display: none;
}
/* ------------------------------Tablet---------------------------- */
@media screen and (max-width: 992px) {
  .search {
    height: auto;
    width: auto;
    margin-left: 60px;
  }
  .search h2{
    font-weight: 700;
    line-height: 25px;
  }
  .search-form {
    width: 100%;
  }
  .location-dot {
    border-radius: 18px 0px 0px 18px;
  }
  .search-box input {
    width: 200px;
  }
}
/* ------------------------------Mobile---------------------------- */
@media screen and (max-width: 768px) {
  .search {
    margin-left: 30px;
  }
  .search-button {
    width: 50px;
  }
  .search-button-desktop {
    display: none;
  }
  .search-button-mobile {
    display: block;
  }
}

/* ------------------------------------------------Filters----------------------------------------------- */

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 70px;
}
.filters h3 {
  margin-right: 35px;
}
.filters ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
}
.filter-type {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  margin: 10px 20px;
}
.filter-type button {
  height: 50px;
  width: auto;
  padding: 10px 25px 10px 60px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-radius: 25px;
  background-color: white;
  border: 3px solid #f2f2f2;
  transition-duration: 0.4s;
}
.filter-type button:hover {
  background-color: #f2f2f2;
}
.filter-type button:active {
  background-color: #f2f2f2;
}
.filter-logo {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  text-align: center;
  line-height: 50px;
}
.results {
  display: flex;
  align-items: baseline;
  width: 100%;
}
.info-logo {
  height: 25px;
  width: 25px;
  color: #0065fc;
  text-align: center;
  line-height: 25px;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
}
.results p {
  margin-left: 10px;
  width: 27%;
  font-weight: 500;
}
/* ------------------------------Tablet---------------------------- */
@media screen and (max-width: 992px) {
  .filters {
    margin-left: 60px;
  }
  .filters h3 {
    width: 100%;
  }
  .filter-type {
    margin: 10px 5px;
  }
  .filter-type button {
    font-size: 15px;
  }
  .results p {
    width: 85%;
  }
}
/* ------------------------------Mobile---------------------------- */
@media screen and (max-width: 768px) {
  .filters {
    margin-left: 30px;
  }
  .filter-type button {
    font-size: 16px;
  }
}

/* ------------------------------------------------Main Accomodations----------------------------------------------- */

main {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.accomodations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 730px;
  width: 60%;
  margin-left: 70px;
  background-color: #f2f2f2;
  border-radius: 18px;
}
.accomodations h2 {
  width: 100%;
  margin-left: 35px;
  margin-top: 40px;
}
.accomodations ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.accomodations-card {
  background-color: white;
  height: 240px;
  width: 29%;
  margin-left: 3%;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 3px rgb(240, 240, 240);
  color: black;
  text-decoration: none;
}
.accomodations-card img {
  object-fit: cover;
  height: 120px;
  width: 96%;
  margin: 2%;
  border-radius: 11px 11px 0px 0px;
}
.accomodations-card h3 {
  font-size: 17px;
  margin: 0px 10px;
}
.accomodations-card p {
  line-height: 25px;
  font-size: 16px;
  margin: 8px 10px;
}
.accomodations-ratings {
  font-size: 12px;
  margin: 5px 10px;
}
.accomodations-show-more {
  margin-left: 35px;
  margin-bottom: 35px;
  color: black;
  text-decoration: none;
  width: auto;
}

/* ------------------------------------------------Most Popular----------------------------------------------- */

.most-popular {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 730px;
  width: 30%;
  margin-left: 3%;
  background-color: #f2f2f2;
  border-radius: 18px;
}
.most-popular-title {
  display: inline-block;
  width: 65%;
  margin-left: 35px;
  margin-top: 40px;
}
.most-popular-star {
  width: 5%;
  text-align: end;
  margin-left: 60px;
  margin-top: 40px;
}
.most-popular ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
}
.most-popular-card {
  background-color: white;
  height: 170px;
  width: 86%;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 10px 3px rgb(240, 240, 240);
}
.most-popular-card a {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.most-popular-card a img {
  object-fit: cover;
  height: 93%;
  width: 40%;
  margin: 6px;
  border-radius: 12px 0px 0px 12px;
}
.most-popular-card-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 10px;
}
.most-popular-card-info h3 {
  height: 30%;
  width: 90%;
  margin: 15px 0 0 0;
}
.most-popular-card-info p {
  height: 30%;
  margin: 15px 0 0 0;
}
.popular-ratings {
  height: 30%;
  line-height: 14px;
  font-size: 12px;
  margin-top: 10px;
}
.full-star {
  color: #0065fc;
}
.no-star {
  color: #f2f2f2;
}
/* ------------------------------Tablet---------------------------- */
@media screen and (max-width: 992px) {
  .accomodations {
    height: auto;
    width: 55%;
    margin-left: 30px;
    background-color: white;
    border-radius: 0;
  }
  .accomodations h2 {
    width: 100%;
    margin-left: 30px;
    margin-top: 30px;
  }
  .accomodations-card {
    background-color: white;
    height: 215px;
    width: 40%;
    margin-left: 20px;
    margin-bottom: 25px;
  }
  .accomodations-card h3 {
    font-size: 15px;
  }
  .accomodations-card p {
    line-height: 20px;
    font-size: 14px;
  }
  .most-popular {
    height: 570px;
    width: 40%;
    margin-left: 0;
    margin-right: 30px;
    border-radius: 18px;
  }
  .most-popular-title {
    margin-left: 20px;
    margin-top: 30px;
  }
  .most-popular-star {
    margin-left: 50px;
    margin-top: 30px;
  }
  .most-popular-card {
    height: 140px;
    width: 90%;
    margin: 0 auto 20px;
  }
  .most-popular-card-info {
    margin-left: 5px;
  }
  .most-popular-card-info h3 {
    margin: 10px 0 0 0;
    font-size: 15px;
  }
  .most-popular-card-info p {
    font-size: 14px;
    margin: 5px 0 0 0;
    line-height: 15px;
  }
  .most-popular-card-info .ratingsPopular {
    font-size: 12px;
    line-height: 12px;
  }
}
/* ------------------------------Mobile---------------------------- */
@media screen and (max-width: 768px) {
  main {
    flex-direction: column-reverse;
  }
  .accomodations {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }
  .accomodations h2 {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 0;
  }
  .accomodations-card {
    margin: 10px 7%;
    width: 85%;
  }
  .most-popular {
    height: 600px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }
  .most-popular-star {
    margin-left: 60px;
  }
  .most-popular-card {
    margin: 10px 7%;
    width: 85%;
  }
  .most-popular-title {
    margin-left: 25px;
  }
}
/* ----------------------------------------------Activities in Marseille -------------------------------------------- */

.activities {
  margin-left: 70px;
  margin-top: 70px;
  height: 600px;
  width: 100%;
}
.activities h2 { /* 0110*/
  width: 85%;
}
.activities-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  height: 500px;
  width: 96%;
  list-style: none;
}

.activities-card:nth-child(3n+1) {
background-color: white;
  height: 100%;
  width: 22%;
  border-radius: 18px;
  margin: 0 20px 0 0;
  box-shadow: 0px 8px 10px -2px rgb(240, 240, 240);
  text-decoration: none;
}

.activities-card:nth-child(3n+1) .activities-img {
  object-fit: cover;
  height: 86%;
  width: 100%;
  border-radius: 18px 18px 0px 0px;
}

.activities-card:nth-child(6n+2), .activities-card:nth-child(6n){
  background-color: white;
  height: 53%;
  width: 22%;
  border-radius: 18px;
  margin: 0 40px 0 20px;
  box-shadow: 0px 8px 10px -2px rgb(240, 240, 240);
  text-decoration: none;
}

.activities-card:nth-child(6n+2) .activities-img, .activities-card:nth-child(6n) .activities-img{
  object-fit: cover;
  height: 75%;
  width: 100%;
  border-radius: 18px 18px 0px 0px;
}

.activities-card:nth-child(6n+3), .activities-card:nth-child(6n-1) {
  background-color: white;
  height: 39%;
  width: 22%;
  border-radius: 18px;
  margin: 0 40px 0 20px;
  box-shadow: 0px 8px 10px -2px rgb(240, 240, 240);
  text-decoration: none;
}
.activities-card:nth-child(6n+3) .activities-img, .activities-card:nth-child(6n-1) .activities-img { /* 0400*/
  object-fit: cover;
  height: 65%;
  width: 100%;
  border-radius: 18px 18px 0px 0px;
}
.activities-card h3 {
  margin: 20px;
  text-decoration: none;
}
/* ------------------------------Tablet---------------------------- */
@media screen and (max-width: 992px) {
  .activities {
    margin-left: 0;
    margin-top: 20px;
    height: auto;
    width: 100%;
  }
  .activities h2 {
    margin-left: 60px;
    width: auto;
  }
  .activities-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .activities-card:nth-child(n) {
    height: 215px;
    width: 45%;
    border-radius: 18px;
    margin: 10px;
  }
  .activities-card:nth-child(n) .activities-img {
    height: 70%;
  }
  .activities-card h3 {
    margin: 15px;
  }
}
/* ------------------------------Mobile---------------------------- */
@media screen and (max-width: 768px) {
  .activities h2 {
    margin-left: 30px;
  }
  .activities-card:nth-child(n) {
    margin: 10px auto;
    width: 85%;
  }
}

/* ------------------------------------------------Footer----------------------------------------------- */

footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f2f2f2;
  margin: 20px 0 0 0;
  height: 230px;
  width: 100%;
}
.footer-section {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 70px;
  margin-top: 40px;
}
.footer-section ul{
  margin-top: 0px;
}
.footer-section a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-decoration: none;
}
/* ------------------------------Mobile---------------------------- */
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    height: 530px;
    width: 100%;
    margin-top: 50px;
  }
  .footer-section {
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
  }
}
